<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MENU</title>
  <link rel="shortcut icon" href="../public/images/Logo Prime.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.11/fullpage.css" />
  <link rel="stylesheet" href="../public/css/menuStyle.css" />
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MENU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="myMenu">
          <li class="nav-item" data-menuanchor="firstPage">
            <a class="nav-link" href="#firstPage">Dishes</a>
          </li>
          <li class="nav-item" data-menuanchor="secondPage">
            <a class="nav-link" href="#secondPage">Snacks</a>
          </li>
          <li class="nav-item" data-menuanchor="thirdPage">
            <a class="nav-link" href="#thirdPage">Desserts</a>
          </li>
          <li class="nav-item" data-menuanchor="fourthPage">
            <a class="nav-link" href="#fourthPage">Drinks</a>
          </li>
        </ul>
        <button type="button" class="btn btn-dark" onclick="seeCart();">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4"
            viewBox="0 0 16 16">
            <path
              d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
          </svg>
        </button>

      </div>
    </div>
  </nav>

  <!-- Sections -->
  <div id="fullpage">
    <div class="section" style="background: #F21D44">
      <h1 class="title">Dishes</h1>
      <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-3 text-center">
          <div class="card" style="width: 18rem">
            <img src="./Images/Bros Burger.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h2 class="card-title">Bro's Burger</h2>
              <p class="card-text">
                Sesame seed bun, quarter pounder and cheese.
              </p>
            </div>
            <div class="form">
              <label for="floatingEmptyPlaintextInput">
                <h3>$</h3>
              </label>
            </div>
            <div class="container text-center">
              <button type="button" class="btn btn-light minus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-dash-square" viewBox="0 0 16 16">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
              </button>
              <div class="form">
                <span class="quantity">0</span>
              </div>
              <button type="button" class="btn btn-light plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-plus-square" viewBox="0 0 16 16">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
              </button>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-success">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" style="background: #F29F05">
      <h1>Snacks</h1>
      <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-3 text-center">
          <div class="card" style="width: 18rem">
            <img src="./Images/t-mcdonalds-Quarter-Pounder-with-Cheese-1_product-header-desktop.jfif"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h2 class="card-title">Bro's Burger</h2>
              <p class="card-text">
                Sesame seed bun, quarter pounder and cheese.
              </p>
            </div>
            <div class="form">
              <label for="floatingEmptyPlaintextInput">
                <h3>$</h3>
              </label>
            </div>
            <div class="container text-center">
              <button type="button" class="btn btn-light minus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-dash-square" viewBox="0 0 16 16">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
              </button>
              <div class="form">
                <span class="quantity">0</span>
              </div>
              <button type="button" class="btn btn-light plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-plus-square" viewBox="0 0 16 16">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
              </button>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-success">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" style="background: #F28705">
      <h1>Desserts</h1>
      <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-3 text-center">
          <div class="card" style="width: 18rem">
            <img src="./Images/t-mcdonalds-Quarter-Pounder-with-Cheese-1_product-header-desktop.jfif"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h2 class="card-title">Bro's Burger</h2>
              <p class="card-text">
                Sesame seed bun, quarter pounder and cheese.
              </p>
            </div>
            <div class="form">
              <label for="floatingEmptyPlaintextInput">
                <h3>$</h3>
              </label>
            </div>
            <div class="container text-center">
              <button type="button" class="btn btn-light minus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-dash-square" viewBox="0 0 16 16">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
              </button>
              <div class="form">
                <span class="quantity">0</span>
              </div>
              <button type="button" class="btn btn-light plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-plus-square" viewBox="0 0 16 16">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
              </button>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-success">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" style="background: #BFA393">
      <h1>Drinks</h1>
      <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-3 text-center">
          <div class="card" style="width: 18rem">
            <img src="./Images/t-mcdonalds-Quarter-Pounder-with-Cheese-1_product-header-desktop.jfif"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h2 class="card-title">Bro's Burger</h2>
              <p class="card-text">
                Sesame seed bun, quarter pounder and cheese.
              </p>
            </div>
            <div class="form">
              <label for="floatingEmptyPlaintextInput">
                <h3>$</h3>
              </label>
            </div>
            <div class="container text-center">
              <button type="button" class="btn btn-light minus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-dash-square" viewBox="0 0 16 16">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
              </button>
              <div class="form">
                <span class="quantity">0</span>
              </div>
              <button type="button" class="btn btn-light plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-plus-square" viewBox="0 0 16 16">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
              </button>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-success">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- modal carrito -->
  <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
          <button onclick="hideCart()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="container container-section">
            <h2 class="section-header">BASKET</h2>
            <div class="cart-row">
              <span class="cart-item cart-header cart-column">ITEM</span>
              <span class="cart-price cart-header cart-column">PRICE</span>
              <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
              <div class="cart-row">
                <div class="cart-item cart-column">
                  <img class="cart-item-img" src="#image" width="100" height="100">
                  <span class="cart-item-title">HAMBURGUER</span>
                </div>
                <span class="cart-price cart-column">9.99</span>
                <div class="cart-quantity cart-column">
                  <input class="cart-quantity-input" type="number" value="1">
                  <button class="btn btn-danger" role="button">REMOVE</button>
                </div>
              </div>

              <div class="cart-row">
                <div class="cart-item cart-column">
                  <img class="cart-item-img" src="#image2" width="100" height="100">
                  <span class="cart-item-title">FRENCH FRIES</span>
                </div>
                <span class="cart-price cart-column">9.99</span>
                <div class="cart-quantity cart-column">
                  <input class="cart-quantity-input" value="2">
                  <button class="btn btn-danger" role="button">REMOVE</button>
                </div>
              </div>
            </div>
            <div class="cart-total">
              <strong class="cart-total-title">TOTAL</strong>
              <span class="cart-total-price">$19.98</span>
            </div>
            <button class="btn btn-primary btn-purchase" role="button">PURCHASE</button>
        </div>
        </section>
      </div>
      <div class="modal-footer">
        <button onclick="hideCart()" type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
  </div>



  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.11/fullpage.js"></script>
  <script type="text/javascript">
    new fullpage("#fullpage", {
      anchors: ["firstPage", "secondPage", "thirdPage", "fourthPage"],
      menu: "#myMenu",
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <script>
    function seeCart() {
      $("#modalCart").modal('show');
    }
    function hideCart() {
      $("#modalCart").modal('hide');
    }
  </script>
  <script src="../public/js/menu.js"></script>
  <script src="../public/js/cart.js"></script>

</body>

</html>